.container {
  background: black !important;
  text-align: center;
  padding: 15px 12px;
}

.menu_block {
  width: 100%;
}
.menu_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu_box li {
  color: aliceblue;
}

.header_section {
  margin-top: 20px;
}

.header_inContaiener {
  background: rgb(9, 9, 9);
  height: 70px;
  display: flex;
  align-items: center;
}
