.bacground_box {
  background-image: url("../../../public/assets/bg.png");
  background-size: cover;
  width: 100%;
  height: 800px;
}

.left_section {
  position: relative;
  width: 100%;
  height: 100%;
}

.first_img {
  position: absolute;
  left: 0;
  top: 120%;
  z-index: 0;
  width: 60%;
}

.second_img {
  position: absolute;
  left: 16%;
  top: 20%;
  z-index: 0;
  width: 25%;
}
.thirds_img {
  position: absolute;
  left: -15%;
  top: 120%;
  z-index: 0;
  width: 80%;
}
