.bacground_box {
  background-image: url("../../../public/assets/bg.png");
  background-size: cover;
  width: 100%;
}
.firdt_img {
  width: 50%;
}
.second_img {
  width: 20%;
  height: 20%;
}
.second_img img {
  width: 100%;
  height: 100%;
}
